extends layout

block content
  a(href="http://momidropppedmyipad.com")#title
    h1(style={"display":"inline-block"}).a http://
    h1(style={"display":"inline-block"}).b mom
    h1(style={"display":"inline-block"}).c i
    h1(style={"display":"inline-block"}).d droppped
    h1(style={"display":"inline-block"}).e my
    h1(style={"display":"inline-block"}).f ipad
    h1(style={"display":"inline-block"}).g .com
  table.table
    tr
      th #
      th Name
      th Highscore
      th When
    each hs,index in highscores
      tr 
        td #{index + 1 } 
        td #{hs.nombre}
        td #{hs.puntuacion}
        td #{moment(hs.date).fromNow()}
    footer
      #{ jugando }
      
  button#start Start
  button#end End
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery-ui.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/main.js")
    
